.card,
.card * {
  box-sizing: border-box;
}

.card {
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 412px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.frame69 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.image {
  flex-shrink: 0;
  width: 100%;
  height: 106.73%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: -3.36%;
  top: -3.36%;
  object-fit: cover;
}

.frame62 {
  padding: 20px 20px 27px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 209px;
  position: relative;
  overflow: hidden;
}

.frame64 {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 31px;
  position: relative;
}

.avatar {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}

.avatarInner {
  background: #222222;
  border-radius: 85px;
  padding: 29px 37px 29px 37px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}

.avatarLetter {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 120%;
  font-weight: var(--var-sds-typography-subheading-font-weight, 400);
  position: relative;
  width: 24.66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipse28 {
  background: #4dca53;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 21.33px;
  top: 21.14px;
  aspect-ratio: 1;
}

.frame63 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.name {
  color: #000000;
  text-align: left;
  font-family: var(--t3-font-family, "Montserrat-Medium", sans-serif);
  font-size: var(--t3-font-size, 13px);
  font-weight: var(--t3-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.type {
  margin: -2px 0 0 0;
  color: var(--seryj, #c4c4c4);
  text-align: left;
  font-family: var(--t6-font-family, "Montserrat-Medium", sans-serif);
  font-size: var(--t6-font-size, 13px);
  font-weight: var(--t6-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame67 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 83px;
  position: relative;
}

.title {
  color: #000000;
  text-align: left;
  font-family: var(--h7-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h7-font-size, 16px);
  font-weight: var(--h7-font-weight, 700);
  position: relative;
  align-self: stretch;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.description {
  color: #727986;
  text-align: left;
  font-family: var(--t2-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--t2-font-size, 15px);
  font-weight: var(--t2-font-weight, 400);
  position: relative;
  align-self: stretch;
  height: 61px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.frame622 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 18px;
  position: relative;
}

.frame66 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 286px;
  height: 18px;
  position: relative;
}

.rating {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.star {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}

.ratingText {
  text-align: left;
  font-family: var(--t5-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--t5-font-size, 16px);
  font-weight: var(--t5-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ratingValue {
  color: #727986;
}

.ratingCount {
  color: var(--seryj, #c4c4c4);
}

.category {
  color: var(--fioletovyj, #9163ff);
  text-align: right;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  width: 86px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions {
  background: #ffffff;
  border-radius: 30px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  box-shadow: var(
    --ten-knopki-box-shadow,
    0px 0px 11.3px 0px rgba(115, 115, 115, 0.21)
  );
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.heart {
  width: 25px;
  height: 25px;
  overflow: visible;
  aspect-ratio: 1;
}

