body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #f6f4fd;
}

.logo {
	height: 6em;
	width: auto;
	padding: 1.5em;
	will-change: filter;
}

.logo.react {
	animation: logo-spin infinite 20s linear;
}

.card {
	padding: 2em;
	display: flex;
	justify-content: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.app {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: #f6f4fd;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.burgerContainer {
	margin: 0 auto;
	display: flex;
	gap: 40px;
	justify-content: center;
	margin-top: 40px;
}
