.profilePageWrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
	min-height: 100vh;
	background-color: #ffffff;
	overflow-x: hidden;
	box-sizing: border-box;
}

.profileContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 80px;
	margin: 0 auto;
}

.sidebar {
	margin-right: 60px;
	width: 350px;
}

.sidebar a {
	color: #8585ad;
	text-decoration: none;
	display: block;
	margin-bottom: 30px;
}

.sidebar a:hover {
	color: #ffffff;
}

.sidebar a.active {
	color: #ffffff;
}

.profileContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #8585ad;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.buttonContainer {
	display: flex;
	gap: 20px;
	margin-top: 24px;
}

.text {
	margin-bottom: 8px;
}
