.logo {
	height: 6em;
	width: auto;
	padding: 1.5em;
	will-change: filter;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react {
	animation: logo-spin infinite 20s linear;
}

.card {
	padding: 2em;
	display: flex;
	justify-content: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.app {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.burgerContainer {
	margin: 0 auto;
	display: flex;
	gap: 40px;
	justify-content: center;
	margin-top: 40px;
}

.background {
	min-height: 100vh;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.container {
	width: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
