.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: transparent;
}

.menu {
  background: #ffffff;
  border-radius: 20px;
  width: 257px;
  max-height: 462px;
  position: fixed;
  box-shadow: 0px 0px 11.3px 0px rgba(115, 115, 115, 0.21);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1001;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  &::-webkit-scrollbar {
    width: 4px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 2px;
    
    &:hover {
      background: #a0a0a0;
    }
  }
}

.activeAccountBackground {
  background: #9163ff;
  width: 100%;
  height: 52.7px;
  position: absolute;
  left: 0;
  top: 93.03px;
  z-index: 0;
  pointer-events: none;
}

.roleIndicator {
  background: #9163ff;
  border-radius: 0px 0px 0px 15px;
  width: 106.12px;
  height: 23.94px;
  position: absolute;
  right: 0;
  top: 0.28px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.roleText {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 23px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s;
  width: 100%;
  box-sizing: border-box;
  min-height: 40px;
  background: #ffffff;
  border: none;

  &:hover {
    background-color: #f5f5f5;
  }

  &:first-of-type {
    padding-top: 20.18px;
    padding-bottom: 12px;
  }
}

.chevronDown {
  width: 31px;
  height: 31px;
  transition: transform 0.3s;
}

.chevronDownRotated {
  transform: rotate(180deg);
}

.accountsList {
  position: relative;
  z-index: 2;
  background: #ffffff;
  width: 100%;
}

.accountItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 23px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
  width: 100%;
  box-sizing: border-box;
  min-height: 52.7px;

  &:hover:not(.accountItemActive) {
    background-color: #f5f5f5;
  }
}

.accountItemActive {
  background: #9163ff;
  color: #ffffff;

  .accountName {
    color: #ffffff;
  }

  .accountStatus {
    color: #ffffff;
  }
}

.avatarContainer {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 6px;
  flex-shrink: 0;
}

.avatarImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatarInitial {
  background: #222222;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.onlineIndicator {
  background: #4dca53;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid #ffffff;
  z-index: 1;
}

.accountInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  margin-left: 6px;
}

.accountName {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: -2px;
}

.accountStatus {
  color: #c4c4c4;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 2px;
}

.accountItemActive .accountStatus {
  color: #ffffff;
}

.checkIcon {
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  margin-left: auto;
}

.divider,
.divider2,
.divider3 {
  width: 219.05px;
  height: 1px;
  background: #e0e0e0;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

